
#streakTracker{
    background-color:black;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align:center;
    font-size:3em;
    background-color:black;
    color:white;
    text-align:center;
    margin: auto;
}

.status-correct{

    color: lightgreen;
    font-weight:bold;
    font-size: 1.5em;
    font-family: Orbitron;
}

.status-incorrect{

    color: red;
    font-weight:bold;
    font-size: 1.5em;
    font-family: Orbitron;

}

#main{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.input-correct{

    border: 3px solid green;
    border-radius: 3px;
    background-color: lightgreen;

}

.input-incorrect{

    border: 5px solid red;
    border-radius: 3px;
    background-color: lightsalmon;
}

#next-test-button{

    display: none;
}

div.img-container{

    width: 250px;
    height: 250px;
    margin: auto;
}

div.test-img-container{

    width: 200px;
    height: 200px;
    margin: auto;
}

img{

    max-width:100%;
    max-height:100%;
    margin: auto;
    display: block;
}

.container{
    text-align: center;
}


footer{

    text-align: center;
    margin: auto;

}
/*###########   Styles for answer header   ###########*/
#answer.ng-hide-remove,#answer.ng-hide-remove-active {
    transition: 0.4s linear;
}

#answer.ng-hide{
    opacity:0;
    font-size:0;
    padding: 0;
    margin: 0;
}