
<div ng-controller="lessonController">
  <div class="container">
    <div class="button-toolbar">
      <button class="btn btn-default" ng-click="genSelectButtonHandler(0)" ng-class="selectedButtonClass(0)">All Gen</button>
      <button class="btn btn-default" ng-click="genSelectButtonHandler(1)" ng-class="selectedButtonClass(1)">Gen I</button>
      <button class="btn btn-default" ng-click="genSelectButtonHandler(2)" ng-class="selectedButtonClass(2)">Gen II</button>
      <button class="btn btn-default" ng-click="genSelectButtonHandler(3)" ng-class="selectedButtonClass(3)">Gen III</button>
      <button class="btn btn-default" ng-click="genSelectButtonHandler(4)" ng-class="selectedButtonClass(4)">Gen IV</button>
      <button class="btn btn-default" ng-click="genSelectButtonHandler(5)" ng-class="selectedButtonClass(5)">Gen V</button>
      <button class="btn btn-default" ng-click="genSelectButtonHandler(6)" ng-class="selectedButtonClass(6)">Gen VI</button>
    </div>
  </div>

  <div class="container">
    <div id="learning-div" class="container" ng-hide="testStarted">
      <label id="label">This is {{currentPokemon.name}}</label>
      <br />
      <div class="img-container">
        <img id="pic" class="img-responsive" ng-src="{{currentPokemon.imgUrl}}" />
      </div>
      <br />
      <button id="next" class="btn btn-info btn-lg" ng-click="nextPokemon()" ng-show="!lesson.finished">Next Pokemon!</button>
      <button id="start-text" class="btn btn-success btn-lg" ng-click="startTest()" ng-show="lesson.finished">Start the test!</button>
    </div>

    <div id="questions-div" class="container" ng-show="testStarted">
      <div class="row" id="questions">
        <div ng-repeat="pokemon in lesson.pokemon" class="col-xs-{{12/lesson.pokemon.length}}">
          <div class="img-container">
            <img class="img-responsive" ng-src="{{lesson.pokemon[$index].imgUrl}}" />
          </div>
          <br/>
          <input type="text" ng-keyup="$event.keyCode == 13 ? inputEnter() : null" ng-model="inputAnswers[$index]" ng-class="getInputClass($index)"></input>
        </div>
      </div>
      <button id="next-lesson-button" class="btn btn-success btn-lg" ng-click="nextLesson()" ng-show="finishedTest">Next Lesson</button>
      <button id="give-up-button" class="btn btn-danger btn-lg" ng-click="submitAnswer()" ng-show="!finishedTest">Give up</button>
    </div>
  </div>
</div>
